.digest {
    margin-top: 0;
    margin-bottom: 1.5rem;

    a {
        font-size: 18px;
        line-height: 1.22;
        font-weight: 700;
        color: #333332;
        text-decoration: none;
    }
    
    .digest-desc {
        line-height: 1.33;
        font-size: 15px;
        margin-top: 4px;
    }
    
    .digest-time {
        white-space: nowrap;
        padding-top: 5px;
        color: #757575;
        font-size: 15px;
    }
}